<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
   
    <connectionStrings>
        <add name="localhost_QLDSV_TC_Connection" connectionString="XpoProvider=MSSqlServer;data source=ADMIN\MSSQLSERVER01;user id=pgv;password=123456;initial catalog=QLDSV_TC;Persist Security Info=true" />
        <add name="localhost_QLDSV_TC_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=ADMIN\MSSQLSERVER01;user id=;password=;initial catalog=QLDSV_TC;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>